body {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.title {
    background-color: maroon;
    color: white;
    font-size: 36px;
}

.reference {
    font-size: 24px;
    color: blue;
}